<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <contextName>cve-project</contextName>
    <property name="LOG_HOME" value="./"/>
    <springProperty scope="context" name="APP_NAME" source="spring.application.name"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %contextName [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <appender name="outFile" class="ch.qos.logback.core.FileAppender">
        <file>cve-error.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %contextName [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <logger name="com.tianqisoft.sca.ScaApplicationBoot" level="INFO" additivity="false">
        <appender-ref ref="console"/>
    </logger>

    <root level="ERROR">
        <appender-ref ref="outFile"/>
    </root>
</configuration>